@model BISERP.Areas.Masters.Models.PaymentTermMasterModel

@{
    ViewBag.Title = "Payment Term Master";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h5 class="page-header orangeDottedBottomBorder"> Payment Term Master</h5>
    <fieldset>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-groupingBoder">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <label id="EntryHeader"> Payment Term Entry Form</label>
                        </div>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <div class="fill">
                                <div class="submit-row">
                                    <button type="button" class="btn btn-success" id="btnSave">Save</button>
                                    <button type="button" class="btn btn-primary" id="btnReset">Reset</button>
                                    <button type="button" class="btn btn-info" id="btnSearch">Find</button>
                                    @*<button type="button" class="btn btn-success">Report</button>*@
                                </div>
                                <fieldset class="fieldsetCustom">
                                    <legend class="legendCustom">Create Payment Term</legend>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.PaymentTermCode, new { @class = "required" })
                                            @Html.TextBoxFor(model => model.PaymentTermCode, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PaymentTermCode)
                                            @*@Html.HiddenFor(model => model.TermID)*@
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.LabelFor(model => model.PaymentTermDesc, new { @class = "required" })
                                            @Html.TextAreaFor(model => model.PaymentTermDesc, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PaymentTermDesc)
                                        </div>
                                        <div class="col-sm-4">
                                            <br />
                                            @Html.CheckBoxFor(model => model.Deactive)
                                            @Html.LabelFor(model => model.Deactive)
                                            @Html.ValidationMessageFor(model => model.Deactive)

                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    @* new addition 2024 *@
    <div id="SearchGridModal" class="modal fade" role="dialog" data-backdrop="false">
        <div class="modal-dialog find-search-grid-modal">
            <div class="modal-content gridmodal-content">
                <div class="modal-header gridmodal-header">
                    <button type="button" class="close" onclick="closeModal()">&times;</button>
                    <h4 class="modal-title">Item Details</h4>
                </div>
                <div class="modal-body">
                    <div class="fill">
                        <div id="grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @********@
}
<script type="text/javascript">
    var grid;
    var TermId = 0;

    /* $(document).ready(function () {*/
    function loadGridData() {
        grid = $("#grid").jsGrid({
            width: "100%",
            height: "500px",
            filtering: true, //will display top 1st row as filter
            selecting: true,
            inserting: false, // false will not allow inserting new entry
            editing: false,// false will not allow exisiting data entry
            sorting: true,
            autoload: false, // this statement require to load data using ajax call
            paging: true,
            pageSize: 20,

            controller: {
                loadData: function (filter) {
                    var d = $.Deferred();
                    $.ajax({
                        type: 'GET',
                        @*url: '@Url.Action("AllPaymentTerm", "PaymentTermMaster")',*@
                        url: "/PaymentTermMaster/AllPaymentTerm",
                        dataType: "json",
                        data: { searchPaymentTerm: filter.PaymentTermDesc, searchCode: filter.PaymentTermCode },
                        success: function (data) {
                            if (data.success)
                                d.resolve(data.records);
                            else {
                                ShowAlert("error", data.Messsage);
                                $(".jsgrid-load-panel").hide();
                            }
                        },
                        error: function (e) {
                            ShowAlert("error", "No Record Found");
                        }
                    });
                    return d.promise();
                }
            },
            fields: [
                { name: "TermID", visible: false, width: 0 },
                { name: "PaymentTermCode", title: "Code", type: "text", validate: { validator: "required", message: "code is missing! Please enter the code " }, width: 20 },
                { name: "PaymentTermDesc", title: "Description", type: "textarea", validate: { validator: "required", message: "Description is missing! Please enter the Description " } },
                { name: "Deactive", title: "Deactive", type: "checkbox", filtering: false, width: 10, inserting: false },
                /*{ type: "control", deleteButton: false, width: 10 }*/
            ],
            ///********** Row Selection ***********/
            rowClick: function (args) {
                var data = args.item;
                /*     $("#TermID").val(data.TermID);*/
                TermId = data.TermID;
                $("#PaymentTermCode").val(data.PaymentTermCode);
                $("#PaymentTermDesc").val(data.PaymentTermDesc);
                $("#Deactive").prop('checked', data.Deactive);
                $("#SearchGridModal").modal('hide');
            }
        });
    }
    /*   });*/


    $("#btnSave").on('click', function () {
        if ($("#PaymentTermCode").val() == "") {
            ShowAlert("error", "Code is missing! Please enter the code");
            return;
        }
        if ($("#PaymentTermDesc").val() == "") {
            ShowAlert("error", "Description is missing! Please enter the Description");
            return;
        }

        var item = JSON.stringify({ //Passing data
            TermID: TermId, //$("#TermID").val(), //Reading text box values using Jquery
            PaymentTermCode: $("#PaymentTermCode").val(),
            PaymentTermDesc: $("#PaymentTermDesc").val(),
            Deactive: $("#Deactive").prop('checked')
        });

        $.ajax(
        {
            type: "POST", //HTTP POST Method
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            url: '/PaymentTermMaster/SavePaymentTerm', // Controller/View
            data: item,
            success: function (msg) {
                if (msg.success) {

                    TermId == 0 || TermId == "" ? ShowAlert("success", "Payment Term added successfully.") : ShowAlert("success", "Payment Term updated successfully.");
                    $("#grid").jsGrid("loadData");
                    Clearform();

                } else {
                    ShowAlert("error", msg.Message);
                }
            },
        })
    })

    //*******************************************************new 2024

    $("#btnSearch").on('click', function () {
        loadGridData();
        $("#grid").jsGrid("loadData");
        $("#SearchGridModal").modal('show');
    });

    function closeModal() {
        $("#SearchGridModal").modal('hide');
    }

    function Clearform() {
        TermId = 0;
       /* $("#TermID").val("");*/
        $("#PaymentTermCode").val("");
        $("#PaymentTermDesc").val("");
        $("#Deactive").prop('checked', false);
    }

    $('#btnReset').on('click', function () {
        Clearform();
    });
    //*************************************************

</script>

