@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-groupingBoder">
                <div class="panel-heading">
                    <div class="panel-title">
                        Entry Form
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true">
                    <div class="panel-body">
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-success" id="btnSave">Save</button>
                                    <button type="button" class="btn btn-success" id="btnAdd">Reset</button>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        @Html.Label("Project")
                                        @Html.DropDownList("ddlStore", new SelectList(string.Empty, "Value", "Text"),"Select Project", new { @class = "form-control" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.Label("Search On Store")
                                        @Html.DropDownList("ddlSearchStore", new SelectList(string.Empty, "Value", "Text"), "Central Store", new { @class = "form-control" })
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" id="btnShwReq" class="btn btn-primary">Show Request</button>
                                    </div>                                    
                                </div>
                            </div><br>
                        </fieldset>
                        <fieldset>                            
                            <div class="row">
                                <div class="container fill">
                                    <div id="grid"></div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <script type="text/javascript">
        var grid;
        $(document).ready(function () {
            $("#ddlSearchStore").prop('disabled', true);
            $.ajax({
                type: "GET",
                url: "/Master/AllStores",
                datatype: "Json",
                async: true,
                success: function (data) {
                    $.each(data, function (index, value) {
                        //$('#ddlSearchStore').append('<option value="' + value.ID + '">' + value.Name + '</option>');
                    });
                }
            });

            $.ajax({
                type: "GET",
                url: "/Master/MainStores",
                datatype: "Json",
                async: true,
                success: function (data) {
                    $.each(data, function (index, value) {
                        $('#ddlStore').append('<option value="' + value.ID + '">' + value.Name + '</option>');
                    });
                }
            });
        });
        
        function Search() {
            grid.reload({ searchString: $("#search").val() });
        }
        $("#btnSearch").on("click", Search);
        $(document).ready(function () {
            $('#btnShwReq').on('click', function () {
                var StoreId = $("#ddlStore").val();
                //var StoreId = $("#ddlSearchStore").val();
                if (StoreId == undefined || StoreId == "") StoreId = 0;
                $.ajax({
                    type: "GET",
                    url: "/MaterialIndent/PendingmaterialIndent/",
                    data: { StoreId: StoreId },
                    datatype: "Json",
                    beforeSend: function () {
                        $("#grid").pqGrid("showLoading");
                    },
                    complete: function () {
                        $("#grid").pqGrid("hideLoading");
                    },
                    success: function (response) {
                        if (response.success) {
                            $("#grid").pqGrid("hideLoading");
                            $("#grid").pqGrid("option", "dataModel.data", response.mimodel);
                            $("#grid").pqGrid("refreshDataAndView");
                        } else {
                            ClearParamGrid('grid');
                            ShowAlert("error", response.Messsage);
                           }
                    },
                    error: function (request, status, error) {
                        $("#grid").pqGrid("hideLoading");
                        ClearParamGrid("grid");
                        ShowAlert("error", "Server error! Please Contact Administrator");
                        return;
                    }
                });
            });

            $('#btnSave').on('click', function () {
                
                var indentDetails = [];

                var getData = $("#grid").pqGrid("option", "dataModel.data");
                var selectedItems = jLinq.from(getData).equals("state", true).select();
                //var data = $gridMain.pqGrid("option", "dataModel.data");
                for (var i = 0; i < selectedItems.length; i++) {
                    var rd = selectedItems[i],
                        dt = rd.pq_detail,
                        child;
                    if (dt && dt.child) {
                        child = $(dt.child).pqGrid("option", "dataModel.data");                        
                        if (child != null) {
                            $.each(child, function (_, detail) {
                                if (detail != null)
                                    indentDetails.push(detail);
                            });
                        }
                    }
                }
                
                var indent = JSON.stringify(indentDetails);

                $.ajax({
                    type: "POST",
                    traditional: true,
                    contentType: 'application/json; charset=utf-8',
                    url: '/CreatePurchaseIndent/CreatePurchaseIndent',
                    data: indent,
                    success: function (msg) {
                        if (msg.success) {
                            ShowAlert("success", "Purchase Indent No : " + msg.Message + " generated successfully.");
                            
                            ClearForm();
                            LoadSearchGrid();
                        }
                        else {
                            ShowAlert("error", msg.Message);
                        }
                    }
                });
            });
        });
        $(document).ready(function () {
            var dataModel = { location: 'local', sorting: 'local', paging: 'local', dataType: 'JSON' };
            $gridMain = $("div#grid").pqGrid({
                height: 400,
                sortable: false,
                editable: true,
                numberCell: { show: false },
                //selectionModel: { type: 'row' },
                showTop: true,
                title: "Issue Item Details",
                hoverMode: 'cell',
                resizable: true,
                virtualX: true,
                virtualY: true,
                scrollModel: { autoFit: true },
                draggable: false,
                wrap: false,
                colModel: [

                    { title: "", minWidth: 30, maxWidth: 30, type: "detail", dataIndx: "detail", resizable: false, sortable: false },
                    { title: "", dataIndx: "Indent_Id", width: 10, hidden: true },
                    { title: "", dataIndx: "IndentDetails_Id", width: 10, hidden: true },
                    { title: "", dataIndx: "Indent_FromStoreID", width: 10, hidden: true },
                    { title: "Indent No", dataIndx: "IndentNo", width: 400., editable: false },
                    { title: "IndentDate", dataIndx: "strIndentDate", width: 200, editable: false },
                    { title: "Project", dataIndx: "Indent_FromStore", width: 200, editable: false },
                    {
                        id: "state",
                        dataIndx: "state", Width: 15, align: "center", type: 'checkBoxSelection', cls: 'ui-state-default', sortable: false,
                        editor: false, dataType: 'bool',
                        title: "<input type='checkbox' />",
                        cb: { select: true, all: false, header: true }
                    },
                ],
                dataModel: dataModel,
                scrollModel: { autoFit: true },
                trackModel: { on: true }, //to turn on the track changes.
                pageModel: { type: "local", rPP: 50 },
                detailModel: {
                    cache: true,
                    collapseIcon: "ui-icon-plus",
                    expandIcon: "ui-icon-minus",
                    init: function (ui) {
                        var rowData = ui.rowData,
                            detailobj = gridDetailModel($(this), rowData), //get a copy of gridDetailModel
                            $grid = $("<div id=detailgrid></div>").pqGrid(detailobj); //init the detail grid.
                        return $grid;
                    }
                }
            });

            var gridDetailModel = function ($gridMain, rowData) {
                return {
                    width: '90%',
                    scrollModel: { autoFit: true },
                    height: 130,
                    pageModel: { type: "local", rPP: 5, strRpp: "" },
                    selectionModel: { type: 'row' },
                    dataModel: {
                        location: "remote",
                        sorting: "local",
                        dataType: "json",
                        method: "GET",
                        url: "/MaterialIndent/pedMIndentItemDetails/get?IndentId=" + rowData.Indent_Id,
                        getData: function (dataJSON) {
                            var data = dataJSON;
                            return { curPage: dataJSON.curPage, totalRecords: dataJSON.totalRecords, data: data };
                        }
                    },

                    colModel: [                        
                        { title: "IndentDetails_Id", width: 80, dataIndx: "IndentDetails_Id", hidden: true },
                        { title: "Indent_Id", width: 80, dataType: "integer", dataIndx: "Indent_Id", hidden: true },
                        { title: "Item_Id", width: 80, dataType: "integer", dataIndx: "Item_Id", hidden: true },
                        { title: "Item Name", width: 250, dataIndx: "ItemName", editable: false },
                        { title: "Unit", width: 100, dataIndx: "DispensingUnit", editable: false },
                        { title: "Auth Quantity", dataIndx: "Authorised_Quantity", width: 200, dataType: "float", align: "left", editable: false },
                        { title: "Bal Qty", dataIndx: "PendingQty", width: 100, dataType: "float", align: "left", editable: false },
                        { title: "Current Qty", dataIndx: "Item_Stock", width: 100, dataType: "float", align: "left", hidden: true },
                         { title: "", dataIndx: "Indent_FromStore", width: 200, editable: false, hidden: true }
                    ],
                    editable: true,
                    groupModel: {
                        dataIndx: ["ItemName"],
                        dir: ["up"],
                        title: ["{0} - Total : {1}"],
                        icon: [["ui-icon-triangle-1-se", "ui-icon-triangle-1-e"]]
                    },
                    flexHeight: true,
                    flexWidth: true,
                    numberCell: { show: false },
                    title: "Item Details",
                    showTop: false,
                    showBottom: false
                };
            };
        });
        </script>
}
